/* NAVBAR CSS */
nav{
  padding-left:4em;
  padding-right: 4em;
  /* TODO: figure out no longer staying fixed */
  position: sticky;
  width: 100%;
  top:50px;
  left:0;
  z-index:10;
  text-align:center;
  grid-area: nav;
}

nav ul {
  margin:0;
  padding:0;
  display:flex;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  font-family: 'Megrim', cursive;
}
nav li{
  padding: 1em 0;
  list-style-type: none;
  padding: 25px;
  font-size: 1.7em;
}

nav li a {
  color:rgba(35, 89, 110, 0.767);
  font-weight: 600;
  opacity: 100%;
  text-decoration: none;
  transition: .3s;
}

