.parallax-wrapper {
  width: 100vw;
  height:100vh;
  padding-top:20vh;
  box-sizing: border-box;
}
.regular-wrapper {
  z-index: 2;
  position: relative;
  height:100vh;
  padding-top:20vh;
  background-color: rgb(255, 255, 255);
}
.regular-wrapper2 {
  z-index: 2;
  position: relative;
  padding-top:10vh;
  padding-bottom: 10vh;
  background-color: rgb(255, 255, 255);
}


.parallax-wrapper::before {
  content:"";
  width: 100vw;
  height: 100vh;
  background-image: url(/images/sunrise.png);
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
}


html {
  overflow: hidden;
}
body {
  height: 100vh;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-x:hidden;
  overflow-y:auto;
}
.parallax-wrapper {
  transform-style: preserve-3d;
}

.parallax-wrapper::before {
  transform:translateZ(-1px) scale(2);
}

.parallax-wrapper::before {
  z-index: -1;
}

/* 
.parallax-wrapper {
  width: 100vw;
  height:100vh;
  padding-top:20vh;
  box-sizing: border-box;
  transform-style: preserve-3d;
}
.regular-wrapper {
  z-index: 2;
  position: relative;
  height:100vh;
  padding-top:20vh; */
  /* background-color: rgb(255, 255, 255); */

/* .regular-wrapper2 {
  z-index: 2;
  position: relative;
  padding-top:10vh;
  padding-bottom: 10vh; */
  /* background-color: rgb(255, 255, 255); */
/* } */


/* .parallax-wrapper::before {
  content:"";
  width: 100%;
  height: 100vh;
  background-image: url(/images/sunrise.svg);
  background-size: 100%;
  height: 100%; */
  /* background-repeat: no-repeat; */
  /* position: absolute;
  transform:translateZ(-1px) scale(2);
  z-index: -1;
}


html {
  overflow: hidden;
}
body {
  height: 100vh;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-x:hidden;
  overflow-y:auto;
} */

.name{
  color:black;
}
footer{
  grid-area:footer;
}
footer p{
  font-size:2em;
}

footer li {
  display:inline;
}

footer ul {
  max-width: 640px;
  margin: 2em auto;
  padding:0;
  text-align: center;
  display: flex;
  flex-direction: row;
  font-size: 6px;
}
footer ul li{
  list-style: none;
  align-self:flex-end;
}
footer ul li a {
  text-decoration:none;
  color: black;
  opacity:.6;
  transition: .3s;
}
footer ul li a:hover {
  text-decoration:none;
  color: rgb(163, 83, 83);
}

footer svg {
  width: 100px;
}

